.app {
    background-color: #000;
    color: #fff;
    padding: 50px;
    text-align: center;
}

.app img {
    height: 100px;
}

.rotate {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    font-family: 'Space Mono', monospace;
    background: #4DA0B0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D39D38, #4DA0B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn {
    margin: 15px;
}

h3 {
    margin: 30px;
}

.add {
    color: white;
}

.list-holder {
    margin: 30px;
}

.navbar-brand {
    font-size: 20px;
    font-family: 'Space Mono', monospace;
}
